# .NET
bin/
obj/
.vs/
.vscode/
*.user
*.userosscache
*.suo
*.userprefs
project.lock.json
project.fragment.lock.json

# Node.js
node_modules/
npm-debug.log
yarn-error.log
package-lock.json

# Angular
dist/
tmp/
.angular/

# VS Code
.vscode/

# JetBrains Rider
.idea/

# macOS
.DS_Store

# Linux
*~

# Windows
Thumbs.db
ehthumbs.db

# Docker file itself (optional, in case you don't want to keep it in the Docker context)
Dockerfile
.dockerignore
